/* definition of custom variables */
:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

/* Typography */
html{
    /* browsers standard for font-size is 16px.
    We multiply this by 0.625 to get 10px and
    easier calculations for rem-values.
    If the default font-size in the browser is changed
    by the user our font-size on this page thus is also increased */
    font-size: 62.5%;
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5; /* separate lines by 1.5*font-size */
}

h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 1rem; /* mostly margin to paragraphs */
}

h1{
    size: 7rem; /* translates to 70px is user keeps the default font-size in browser */
}

h2{
    size: 4rem;
}

h3{
    size: 3rem;
}

p{
    margin-top: 0; /* we want to use the margin-bottom of headings */
}

/* modifications for desktop view */
@media screen and (min-width: 1024px){
    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 5rem;
    }

    h3{
        font-size: 2.4rem;
    }
}

/* Links */
a{
    text-decoration: none;
}

.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    transition: font-size 0.25s;
}

.link-arrow::after{
    content: "-->";
    margin-left: 0.5rem;
    transition: margin-left 0.25s;
}

/* when we hover over the link, the arrow after is shall get modified */
.link-arrow:hover::after{
    margin-left: 1rem; /* move arrow 0.5rem to the right */
}

.link-arrow:hover{
    font-size: 2.3rem;
}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
    .link-arrow:hover{
        font-size: 1.8rem;
    }
}