<!-- A block is a sections that is designed to have
     a header a paragraph and optionally further items in a body tag.
     The header is not allowed to stretch wider than 1140px in order to
     improve readability.
    -->

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab cupiditate
        natus distinctio excepturi ex quod porro saepe consequatur blanditiis
        numquam unde consectetur nemo deserunt neque quis laudantium voluptates
        adipisci nulla odit illum illo.
      </p>
    </header>
  </div>
</section>
