<button class="btn btn--primary btn--block">Submit</button>
<button class="btn btn--secondary btn--block">Submit</button>
<button class="btn btn--accent btn--block">Submit</button>
<button class="btn btn--outline btn--block">Submit</button>
<a href="#" class="btn btn--secondary btn--block">buy now</a>
<button class="btn btn--primary">Submit</button>
<button class="btn btn--secondary">Submit</button>
<button class="btn btn--accent">Submit</button>
<button class="btn btn--outline">Submit</button>
<a href="#" class="btn btn--secondary">buy now</a>
