<!-- A callout is a grid that contains a heading, some content and a button.
     On mobiles we have 1 column and the text for the content is center-aligned.
     On Tablets and desktop we have 2 columns and the text for the content is left-aligned -->

<div class="callout callout--primary grid grid--cols-2">
  <div class="callout__content">
    <h2 class="callout__heading">Ready to get Started?</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur iusto
      rerum dolore facere quia distinctio neque dolores dignissimos, optio
      earum?
    </p>
  </div>
  <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
</div>
