<!-- a card stretches by default to fill its container.
     Wrap it in another element and adjust it's size
     in order to change the card's size -->

<div class="card card--primary">
  <header class="card__header">Card Title</header>
  <div class="card__body">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, at.
  </div>
</div>

<div class="card card--secondary">
  <header class="card__header">Card Title</header>
  <div class="card__body">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, at.
  </div>
</div>
