<!-- A container can used to wrap any content and give it a
     specific width to increase readability.
     The standard width for a container is 1140px.
    -->

<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus iure quisquam
  animi nulla in qui harum. Necessitatibus quod recusandae amet asperiores
  tempore. Tempore dolores nulla natus eius voluptatibus error harum id eos
  rerum architecto praesentium, expedita temporibus? Eligendi aut magni
  consequuntur in iusto hic, dignissimos, facilis animi architecto voluptates
  soluta praesentium veritatis iste nulla impedit recusandae ab delectus ex
  corrupti qui, alias obcaecati voluptatem quod accusamus. Sit rerum voluptas
  vel dignissimos commodi delectus molestias sint? Mollitia dolore corporis unde
  amet nisi in adipisci facere vero deleniti cumque neque, earum delectus
  explicabo architecto ad iure! Facere officia quasi maiores fugiat blanditiis?
</div>
