<!-- Grids are generally containers with the display set to grid.
     By default those grids have only 1 column.
     By applying the attributes grid--cols-2 and grid--cols-3 we can
     allow the grid to stretch to 2 columns if we are at least at a 768px screen
     and allow it to stretch to 3 columns if we are at least on a 1024px screen -->

<div class="grid grid--cols-2 grid--cols-3">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: blue"></div>
  <div style="height: 100px; background: purple"></div>
</div>
