<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="../icons/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, non,
      eius eligendi voluptatum doloribus officia, atque laboriosam
      exercitationem quas quaerat adipisci quod! Animi eos praesentium quae
      consequuntur, assumenda soluta illum!
    </p>
  </div>
</div>
